* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  body {
    color: #263138;
  }
  




/* Seção Itens Pedido */
.itens-pedido-h2 {
  text-align: center;
  color: #FFFFFF;
  background-color: #263138;
  border-radius: 5px;
  padding: 10px;
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 5px;
}

#itens {
    /* display: flex; */
    /* align-items: start; */
    /* gap: 64px; */
    padding: 64px 80px;
  }
  
.item {
    position: relative;
  }
  
.item strong {
    border: 2px solid #CC1100;
    border-radius: 8px;
    cursor: pointer;
    display: block;
    padding: 24px;
  }
  
.item h3 {
    border: 1px solid #CC1100;
    border-radius: 5px 5px 5px 5px;
    padding: 20px;
    background-color: #CC1100;
    color: #FFFFFF;
  }
  
.item .paragrafo {
    border-right: 1px solid #CC1100;
    border-bottom: 1px solid #CC1100;
    border-left: 1px solid #CC1100;
    border-radius: 0 0 8px 8px;
    margin-top: -8px;
    padding: 5px;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: .5s;
    line-height: 150%;
    margin-bottom: 5px;
  }

.item.ativa .paragrafo {
    height: fit-content;
    opacity: 1;
    padding: 24px;
  }

.product-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

.product-name {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.product-price {
  margin: 0 10px; /* Espaço entre o nome e o preço */
}







/* Seção Adcionar Item Carrinho */
.add-to-cart {
    background-color: #CC1100;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.cart-item button {
    background-color: #CC1100;
    color: #fff;
    border: none;
    padding: 3px 6px;
    cursor: pointer;
}

#cart-total {
    font-weight: bold;
    font-size: 18px;
}





/* Seção Carrinho */
#carrinho {
  align-items: start;
  gap: 64px;
  padding: 5px 80px;
}

.carrinho {
  position: relative;
}

.carrinho h3 {
  border: 1px solid #CC1100;
  border-radius: 5px 5px 5px 5px;
  padding: 20px;
  background-color: #CC1100;
  color: #FFFFFF;
}






